* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: #181818;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.preload {
  height: 100vh;
  width: 100%;
  background-color: #242424;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.preload .line-top, .preload .line-bottom {
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: white;
}

.preload .wireframe {
  width: 90%;
  position: absolute;
}

.preload .logo-stroke {
  width: 25%;
  position: absolute;
}

.preload .line-top {
  top: 30%;
}

.preload .line-bottom {
  bottom: 30%;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: screen;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .hero {
  position: relative;
  z-index: 1;
  width: 75%;
  padding: 1rem  0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.15)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  border-radius: 12px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.container .hero .hero-name {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.container .hero .hero-description {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.container .scroll-svg {
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container .navbar-container, .footer-container .navbar-container {
  width: 100vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3c3c3c;
  position: relative;
  z-index: 1;
}

.container .navbar-container .navbar, .footer-container .navbar-container .navbar {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar-container .navbar .navLeft, .footer-container .navbar-container .navbar .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.container .navbar-container .navbar .navLeft li .logo svg, .footer-container .navbar-container .navbar .navLeft li .logo svg {
  position: relative;
  z-index: 3;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 0.4rem;
}

.container .navbar-container .navbar .navLeft li .logo svg:hover path, .footer-container .navbar-container .navbar .navLeft li .logo svg:hover path {
  fill: #B2FFFA;
}

.container .navbar-container .navbar .navLeft li .logo svg path, .footer-container .navbar-container .navbar .navLeft li .logo svg path {
  display: block;
  fill: #00FFF0;
}

.container .navbar-container .navbar .navLeft .linksLeft a, .footer-container .navbar-container .navbar .navLeft .linksLeft a {
  font-size: 1.1rem;
  position: relative;
  z-index: 3;
  padding-left: 1rem;
  color: #00FFF0;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.container .navbar-container .navbar .navLeft .linksLeft a:hover, .footer-container .navbar-container .navbar .navLeft .linksLeft a:hover {
  color: #B2FFFA;
}

.container .navbar-container .navbar .navRight, .footer-container .navbar-container .navbar .navRight {
  display: none;
}

.footer-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3c3c3c;
}

.footer-container .copyright {
  text-align: center;
  padding: 1rem 0;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.explore-container {
  position: relative;
  background: #343434;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.explore-container .explore-title {
  font-weight: 400;
  color: #00FFF0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: start;
  width: 75%;
}

.explore-container .explore-circle1 {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 228, 141, 0.7)), to(rgba(255, 228, 141, 0.1)));
  background: linear-gradient(to right, rgba(255, 228, 141, 0.7), rgba(255, 228, 141, 0.1));
  position: absolute;
  top: 20%;
  left: 3%;
}

.explore-container .explore-circle2 {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(178, 255, 250, 0.7)), to(rgba(178, 255, 250, 0.1)));
  background: linear-gradient(to left, rgba(178, 255, 250, 0.7), rgba(178, 255, 250, 0.1));
  position: absolute;
  bottom: 10%;
  right: 6%;
}

.explore-container .exploretiles {
  width: 75%;
}

.explore-container .exploretiles li {
  width: 100%;
}

.explore-container .exploretiles li .exploretile1, .explore-container .exploretiles li .exploretile2, .explore-container .exploretiles li .exploretile3 {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.explore-container .exploretiles li .exploretile1 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon {
  height: 5rem;
  width: 5rem;
  margin: 0.7rem;
}

.explore-container .exploretiles li .exploretile1 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title {
  color: white;
  font-weight: 600;
  font-size: 3rem;
  margin: 0.3rem 1rem 1rem 1rem;
}

.explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.explore-container .exploretiles li .exploretile1 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0 0 0 #FFC200;
          box-shadow: 0 0 0 #FFC200;
  -webkit-transition: background-color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, box-shadow 0.1s;
  transition: background-color 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.explore-container .exploretiles li .exploretile1 .button:hover, .explore-container .exploretiles li .exploretile2 .button:hover, .explore-container .exploretiles li .exploretile3 .button:hover {
  background-color: #FFC200;
  -webkit-box-shadow: 0 0 15px #FFC200;
          box-shadow: 0 0 15px #FFC200;
}

.explore-container .exploretiles li .exploretile1 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #242424;
}

.explore-container .exploretiles li .exploretile2 .web-icon {
  height: 5rem;
  width: 5rem;
  margin: 0.7rem;
}

.explore-container .exploretiles li .exploretile3 .design-icon {
  height: 5rem;
  width: 5rem;
  margin: 0.7rem;
}

.explore-container .exploretiles li .linebreak {
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(178, 255, 250, 0)), color-stop(#b2fffa), to(rgba(178, 255, 250, 0)));
  background: linear-gradient(to right, rgba(178, 255, 250, 0), #b2fffa, rgba(178, 255, 250, 0));
}

.featured-container {
  position: relative;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.featured-container .circle1 {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 228, 141, 0.5)), to(rgba(255, 228, 141, 0.1)));
  background: linear-gradient(to left, rgba(255, 228, 141, 0.5), rgba(255, 228, 141, 0.1));
  position: absolute;
  top: 20%;
  right: 6%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.featured-container .circle2 {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(178, 255, 250, 0.5)), to(rgba(178, 255, 250, 0.1)));
  background: linear-gradient(to right, rgba(178, 255, 250, 0.5), rgba(178, 255, 250, 0.1));
  position: absolute;
  bottom: 8%;
  left: 3%;
}

.featured-container .description-container {
  margin-bottom: 2rem;
  width: 75%;
}

.featured-container .description-container .title {
  color: #00FFF0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.featured-container .description-container .app-name {
  color: #FFC200;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featured-container .description-container .description {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.featured-container .description-container .large-screen-button {
  display: none;
}

.featured-container .image-container {
  position: relative;
  z-index: 2;
  width: 75%;
  padding: 1.5rem;
  border-radius: 15px;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(240, 137, 67, 0.5)), to(rgba(240, 137, 67, 0.1)));
  background: linear-gradient(to left bottom, rgba(240, 137, 67, 0.5), rgba(240, 137, 67, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-container .image-container .home-ui {
  width: 100%;
  border-radius: 10px;
}

.featured-container .image-container .chat-ui {
  display: none;
}

.featured-container .small-screen-button {
  margin: 2rem;
  background-color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 0 #FFC200;
          box-shadow: 0 0 0 #FFC200;
  -webkit-transition: background-color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, box-shadow 0.1s;
  transition: background-color 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font-weight: 700;
  font-size: 1.3rem;
  color: #242424;
}

.featured-container .small-screen-button:hover {
  background-color: #FFC200;
  -webkit-box-shadow: 0 0 15px #FFC200;
          box-shadow: 0 0 15px #FFC200;
}

@media only screen and (max-width: 575px) {
  .container .navbar-container .navbar, .footer-container .navbar-container .navbar {
    width: 85%;
  }
  .container .navbar-container .navbar .navLeft li .logo svg, .footer-container .navbar-container .navbar .navLeft li .logo svg {
    margin-top: 0.6rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .container .navbar-container .navbar .navLeft .linksLeft a, .footer-container .navbar-container .navbar .navLeft .linksLeft a {
    font-size: 0.8rem;
  }
  .container .copyright, .footer-container .copyright {
    font-size: 0.8rem;
  }
  .container .hero {
    width: 85%;
  }
  .container .hero .hero-name {
    font-size: 1.5rem;
  }
  .container .hero .hero-description {
    font-size: 0.8rem;
  }
  .explore-container .explore-title {
    width: 85%;
  }
  .explore-container .exploretiles {
    width: 85%;
  }
  .explore-container .exploretiles li .exploretile1 div .app-icon, .explore-container .exploretiles li .exploretile2 div .app-icon, .explore-container .exploretiles li .exploretile3 div .app-icon, .explore-container .exploretiles li .exploretile1 div .web-icon, .explore-container .exploretiles li .exploretile2 div .web-icon, .explore-container .exploretiles li .exploretile3 div .web-icon, .explore-container .exploretiles li .exploretile1 div .design-icon, .explore-container .exploretiles li .exploretile2 div .design-icon, .explore-container .exploretiles li .exploretile3 div .design-icon, .explore-container .exploretiles li .exploretile2 div .app-icon, .explore-container .exploretiles li .exploretile2 div .web-icon, .explore-container .exploretiles li .exploretile2 div .design-icon, .explore-container .exploretiles li .exploretile3 div .app-icon, .explore-container .exploretiles li .exploretile3 div .web-icon, .explore-container .exploretiles li .exploretile3 div .design-icon {
    height: 3rem;
    width: 3rem;
  }
  .explore-container .exploretiles li .exploretile1 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title {
    font-size: 2rem;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 1rem;
  }
  .explore-container .exploretiles li .exploretile1 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button {
    height: 3.2rem;
    width: 3.2rem;
  }
  .explore-container .exploretiles li .exploretile1 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon {
    height: 2rem;
    width: 2rem;
  }
  .featured-container .description-container {
    width: 85%;
  }
  .featured-container .description-container .title {
    font-size: 0.9rem;
  }
  .featured-container .description-container .app-name {
    font-size: 2rem;
  }
  .featured-container .description-container .description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .featured-container .image-container {
    width: 85%;
  }
  .featured-container .small-screen-button {
    padding: 0.6em 1.2em;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .preload .logo-stroke {
    width: 20%;
  }
  .container .hero {
    padding: 1rem 2rem;
  }
  .container .hero .hero-name {
    font-size: 2.8rem;
  }
  .container .hero .hero-description {
    font-size: 1.3rem;
  }
  .explore-container .explore-title {
    font-size: 2rem;
  }
  .featured-container .circle1 {
    height: 13rem;
    width: 13rem;
  }
  .featured-container .circle2 {
    height: 12rem;
    width: 12rem;
  }
  .featured-container .description-container .title {
    font-size: 1.4rem;
  }
  .featured-container .description-container .app-name {
    font-size: 4rem;
  }
  .featured-container .description-container .description {
    font-size: 1.7rem;
  }
  .featured-container .image-container {
    padding: 2.5rem;
  }
  .featured-container .small-screen-button {
    font-size: 2rem;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .preload .logo-stroke {
    width: 15%;
  }
  .preload .wireframe {
    width: 70%;
  }
  .container .navbar-container .navbar .navLeft, .footer-container .navbar-container .navbar .navLeft {
    width: unset;
  }
  .container .navbar-container .navbar .navLeft li .logo svg, .footer-container .navbar-container .navbar .navLeft li .logo svg {
    height: 4rem;
    width: 4rem;
    padding-top: 0.3rem;
  }
  .container .navbar-container .navbar .navLeft li a, .footer-container .navbar-container .navbar .navLeft li a {
    font-size: 1.4rem;
  }
  .container .navbar-container .navbar .navRight, .footer-container .navbar-container .navbar .navRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .navbar-container .navbar .navRight ul, .footer-container .navbar-container .navbar .navRight ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
  }
  .container .navbar-container .navbar .navRight ul li, .footer-container .navbar-container .navbar .navRight ul li {
    padding: 0 0.5rem;
  }
  .container .navbar-container .navbar .navRight ul li a svg, .footer-container .navbar-container .navbar .navRight ul li a svg {
    height: 2rem;
    width: 2rem;
  }
  .container .navbar-container .navbar .navRight ul li a svg path, .footer-container .navbar-container .navbar .navRight ul li a svg path {
    fill: #00FFF0;
  }
  .container .navbar-container .navbar .navRight ul li a svg:hover path, .footer-container .navbar-container .navbar .navRight ul li a svg:hover path {
    fill: #B2FFFA;
  }
  .container .navbar-container .navbar, .footer-container .navbar-container .navbar, .container .hero, .explore-container .explore-title, .explore-container .exploretiles {
    width: 80%;
  }
  .explore-container .explore-circle2 {
    height: 13rem;
    width: 13rem;
    right: 3%;
  }
  .explore-container .exploretiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .explore-container .exploretiles li {
    width: auto;
    margin-bottom: 2.5rem;
  }
  .explore-container .exploretiles li:nth-child(1), .explore-container .exploretiles li:nth-child(3), .explore-container .exploretiles li:nth-child(5) {
    width: 28%;
  }
  .explore-container .exploretiles li .exploretile1, .explore-container .exploretiles li .exploretile2, .explore-container .exploretiles li .exploretile3, .explore-container .exploretiles li .exploretile2, .explore-container .exploretiles li .exploretile3 {
    width: 100%;
    margin: 0 auto;
  }
  .explore-container .exploretiles li .exploretile1 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .explore-container .exploretiles li .exploretile1 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .explore-container .exploretiles li .exploretile1 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .explore-container .exploretiles li .exploretile1 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title {
    font-size: 2rem;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 1rem;
  }
  .explore-container .exploretiles li .linebreak {
    height: 100%;
    width: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(178, 255, 250, 0)), color-stop(#b2fffa), to(rgba(178, 255, 250, 0)));
    background: linear-gradient(to bottom, rgba(178, 255, 250, 0), #b2fffa, rgba(178, 255, 250, 0));
  }
  .featured-container {
    padding-bottom: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-container .circle1 {
    top: 3%;
    right: 2%;
    height: 15rem;
    width: 15rem;
  }
  .featured-container .circle2 {
    height: 13rem;
    width: 13rem;
    left: 33%;
  }
  .featured-container .description-container {
    width: 35%;
  }
  .featured-container .description-container .title {
    font-size: 1.2rem;
  }
  .featured-container .description-container .app-name {
    font-size: 2.5rem;
  }
  .featured-container .description-container .description {
    font-size: 1.4rem;
  }
  .featured-container .description-container .large-screen-button {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1.8rem 0;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 30px;
    background-color: white;
    -webkit-box-shadow: 0 0 0 #FFC200;
            box-shadow: 0 0 0 #FFC200;
    -webkit-transition: background-color 0.1s, -webkit-box-shadow 0.1s;
    transition: background-color 0.1s, -webkit-box-shadow 0.1s;
    transition: background-color 0.1s, box-shadow 0.1s;
    transition: background-color 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font-size: 1.2rem;
    font-weight: 700;
    color: #242424;
  }
  .featured-container .description-container .large-screen-button:hover {
    background-color: #FFC200;
    -webkit-box-shadow: 0 0 15px #FFC200;
            box-shadow: 0 0 15px #FFC200;
  }
  .featured-container .image-container {
    width: 45%;
  }
  .featured-container .small-screen-button {
    display: none;
  }
  .container .hero {
    padding: 1rem 3rem;
  }
  .container .hero .hero-name {
    font-size: 4rem;
  }
  .container .hero .hero-description {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .preload .logo-stroke {
    width: 10%;
  }
  .preload .wireframe {
    width: 60%;
  }
  .container .hero .hero-name {
    font-size: 5rem;
  }
  .container .hero .hero-description {
    font-size: 2rem;
  }
  .featured-container .description-container {
    width: 30%;
  }
  .featured-container .image-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .featured-container .image-container .home-ui {
    width: 45%;
  }
  .featured-container .image-container .chat-ui {
    display: unset;
    width: 45%;
    border-radius: 10px;
  }
  .explore-container .exploretiles li .exploretile1 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon {
    height: 4rem;
    width: 4rem;
  }
  .explore-container .exploretiles li .exploretile1 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon {
    height: 4rem;
    width: 4rem;
  }
  .explore-container .exploretiles li .exploretile1 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon {
    height: 4rem;
    width: 4rem;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container .hero {
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
  .container .hero .hero-name {
    font-weight: 600;
  }
  .container .navbar-container .navbar, .footer-container .navbar-container .navbar, .container .hero, .explore-container .explore-title, .explore-container .exploretiles {
    width: 70%;
  }
  .container .navbar-container .navbar .navLeft .linksLeft, .footer-container .navbar-container .navbar .navLeft .linksLeft {
    margin-left: 2rem;
  }
  .container .navbar-container .navbar .navRight ul li, .footer-container .navbar-container .navbar .navRight ul li {
    margin-left: 2rem;
  }
  .featured-container .circle1 {
    right: 7%;
  }
  .featured-container .circle2 {
    left: 30%;
  }
  .featured-container .description-container {
    width: 20%;
  }
  .featured-container .description-container .title {
    margin-bottom: 1.3rem;
  }
  .featured-container .description-container .app-name {
    font-size: 2.3rem;
    margin-bottom: 1.3rem;
  }
  .featured-container .description-container .large-screen-button {
    margin: 1.5rem 0;
  }
  .featured-container .description-container .description {
    line-height: 2rem;
  }
  .featured-container .image-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .featured-container .image-container .home-ui {
    width: 47%;
  }
  .featured-container .image-container .chat-ui {
    display: unset;
    width: 47%;
    border-radius: 10px;
  }
  .explore-container .explore-circle1 {
    left: 7%;
  }
  .explore-container .explore-circle2 {
    right: 7%;
  }
}

@media only screen and (min-width: 1600px) {
  .container .hero {
    padding: 1.5rem 4rem;
  }
  .container .hero .hero-name {
    font-size: 5.5rem;
  }
  .container .hero .hero-description {
    font-size: 2.2rem;
  }
  .explore-container .exploretiles li:nth-child(1), .explore-container .exploretiles li:nth-child(3), .explore-container .exploretiles li:nth-child(5) {
    width: 25%;
  }
}

@media only screen and (min-width: 1800px) {
  .container .hero {
    padding: 1.5rem 8rem;
  }
  .featured-container .description-container .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .featured-container .description-container .app-name {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .featured-container .description-container .large-screen-button {
    margin: 2.8rem 0;
  }
  .featured-container .image-container {
    padding: 4rem;
  }
}

@media only screen and (min-width: 2000px) {
  .container .hero {
    padding: 1.5rem 12rem;
  }
}

@media only screen and (min-width: 2560px) {
  .preload .logo-stroke {
    width: 7%;
  }
  .preload .wireframe {
    width: 50%;
  }
  .container .navbar-container .navbar .navLeft li .logo svg, .footer-container .navbar-container .navbar .navLeft li .logo svg {
    height: 5rem;
    width: 5rem;
  }
  .container .hero {
    padding: 1.8rem 12rem;
  }
  .container .hero .hero-name {
    font-size: 7rem;
  }
  .container .hero .hero-description {
    font-size: 3rem;
  }
  .explore-container .explore-circle1 {
    height: 15rem;
    width: 15rem;
    left: 10%;
  }
  .explore-container .explore-circle2 {
    height: 15rem;
    width: 15rem;
    right: 10%;
  }
  .explore-container .exploretiles li .exploretile1 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon {
    height: 6rem;
    width: 6rem;
  }
  .explore-container .exploretiles li .exploretile1 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon {
    height: 6rem;
    width: 6rem;
  }
  .explore-container .exploretiles li .exploretile1 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon {
    height: 6rem;
    width: 6rem;
  }
  .explore-container .exploretiles li .exploretile1 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title {
    font-size: 3rem;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 1.5rem;
  }
  .explore-container .exploretiles li .exploretile1 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button {
    height: 5rem;
    width: 5rem;
  }
  .explore-container .exploretiles li .exploretile1 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon {
    height: 3rem;
    width: 3rem;
  }
  .featured-container .description-container .title {
    font-size: 1.8rem;
  }
  .featured-container .description-container .app-name {
    font-size: 4rem;
  }
  .featured-container .description-container .description {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .featured-container .description-container .large-screen-button {
    font-size: 1.5rem;
  }
  .featured-container .circle1 {
    height: 20rem;
    width: 20rem;
  }
  .featured-container .circle2 {
    height: 18rem;
    width: 18rem;
  }
}

@media only screen and (min-width: 3800px) {
  .container .navbar-container .navbar .navLeft li .logo svg, .footer-container .navbar-container .navbar .navLeft li .logo svg {
    height: 6rem;
    width: 6rem;
  }
  .container .navbar-container .navbar .navLeft .linksLeft a, .footer-container .navbar-container .navbar .navLeft .linksLeft a {
    font-size: 2.2rem;
    padding-left: 4rem;
  }
  .container .navbar-container .navbar .navRight ul li a svg, .footer-container .navbar-container .navbar .navRight ul li a svg {
    height: 4rem;
    width: 4rem;
    margin-left: 4rem;
  }
  .container .hero, .footer-container .hero {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .container .hero .hero-name, .footer-container .hero .hero-name {
    font-size: 10rem;
  }
  .container .hero .hero-description, .footer-container .hero .hero-description {
    font-size: 4rem;
  }
  .footer-container .copyright {
    font-size: 2rem;
  }
  .explore-container {
    padding-bottom: 3rem;
  }
  .explore-container .explore-title {
    font-size: 3rem;
    padding: 2rem 0;
  }
  .explore-container .explore-circle2, .explore-container .explore-circle1 {
    height: 20rem;
    width: 20rem;
  }
  .explore-container .exploretiles li .exploretile1 .app-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile3 .app-icon, .explore-container .exploretiles li .exploretile1 .web-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile3 .web-icon, .explore-container .exploretiles li .exploretile1 .design-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .design-icon, .explore-container .exploretiles li .exploretile2 .app-icon, .explore-container .exploretiles li .exploretile2 .web-icon, .explore-container .exploretiles li .exploretile2 .design-icon, .explore-container .exploretiles li .exploretile3 .app-icon, .explore-container .exploretiles li .exploretile3 .web-icon, .explore-container .exploretiles li .exploretile3 .design-icon {
    height: 7rem;
    width: 7rem;
  }
  .explore-container .exploretiles li .exploretile1 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title, .explore-container .exploretiles li .exploretile2 .title, .explore-container .exploretiles li .exploretile3 .title {
    font-size: 4rem;
    padding: 1rem 0;
  }
  .explore-container .exploretiles li .exploretile1 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description, .explore-container .exploretiles li .exploretile2 .description, .explore-container .exploretiles li .exploretile3 .description {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .explore-container .exploretiles li .exploretile1 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button, .explore-container .exploretiles li .exploretile2 .button, .explore-container .exploretiles li .exploretile3 .button {
    margin: 2rem 0;
    height: 6rem;
    width: 6rem;
  }
  .explore-container .exploretiles li .exploretile1 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon, .explore-container .exploretiles li .exploretile2 .button .send-icon, .explore-container .exploretiles li .exploretile3 .button .send-icon {
    height: 4rem;
    width: 4rem;
  }
  .featured-container {
    padding: 6rem 0;
  }
  .featured-container .description-container .title {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  .featured-container .description-container .app-name {
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  .featured-container .description-container .description {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .featured-container .description-container .large-screen-button {
    padding: 1rem 2rem;
    border-radius: 40px;
    margin: 3.5rem 0;
    font-size: 2.5rem;
  }
  .featured-container .image-container {
    padding: 7rem;
    border-radius: 40px;
  }
  .featured-container .image-container .home-ui, .featured-container .image-container .chat-ui {
    border-radius: 30px;
  }
  .featured-container .circle1 {
    height: 27rem;
    width: 27rem;
    right: 9%;
  }
  .featured-container .circle2 {
    height: 25rem;
    width: 25rem;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

.featured-container .circle1 {
  animation: fCircle1Anim 4s infinite alternate-reverse;
}

.featured-container .circle2 {
  animation: fCircle2Anim 4.5s infinite alternate-reverse;
}

.preload .line-top {
  animation: lineTop 1.5s infinite alternate-reverse;
}

.preload .line-bottom {
  animation: lineBottom 1.5s infinite alternate-reverse;
}

@-webkit-keyframes lineTop {
  from {
    top: 30%;
  }
  to {
    top: 65%;
  }
}

@keyframes lineTop {
  from {
    top: 30%;
  }
  to {
    top: 65%;
  }
}

@-webkit-keyframes lineBottom {
  from {
    bottom: 30%;
  }
  to {
    bottom: 65%;
  }
}

@keyframes lineBottom {
  from {
    bottom: 30%;
  }
  to {
    bottom: 65%;
  }
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@-webkit-keyframes fCircle1Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
}

@keyframes fCircle1Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(20rem);
            transform: translateY(20rem);
  }
}

@-webkit-keyframes fCircle2Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
}

@keyframes fCircle2Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
}

.explore-container .explore-circle1 {
  animation: eCircle1Anim 3.5s infinite alternate-reverse;
}

@-webkit-keyframes eCircle1Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
}

@keyframes eCircle1Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
}

.explore-container .explore-circle2 {
  animation: eCircle2Anim 3s infinite alternate-reverse;
}

@-webkit-keyframes eCircle2Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
}

@keyframes eCircle2Anim {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
}
/*# sourceMappingURL=style.css.map */
